@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Find the Entertainer that is the Perfect fit for you!</h1>
    <a href="@Url.Action("Privacy", "Home")" class="btn btn-lg btn-pink mt-3">Start Now!</a>
</div>
